<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<body>
<a href="http://example.hocgin.local:20001/user">example.hocgin.local</a>
<a href="http://example.hocgin2.local:20002/user">example.hocgin2.local</a>
<a href="http://sso.hocgin.local:20000/user">sso.hocgin.local</a>
</body>
</html>
