<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.boot.mybatis.plus.extensions.config.mapper.ConfigValueMpeMapper">
  <select id="listByScopeAndRefId" resultType="in.hocg.boot.mybatis.plus.extensions.config.entity.ConfigValue">
    SELECT bcv.*
    FROM boot_config_value bcv
           LEFT JOIN boot_config_item bci on bcv.item_id = bci.id
           LEFT JOIN boot_config_scope bcs on bcs.id = bci.scope_id
    <where>
      <if test="scope != null">
        AND bcs.scope = #{scope}
      </if>
      <if test="refId != null">
        AND bcv.ref_id = #{refId}
      </if>
    </where>
  </select>

  <select id="getByScopeAndRefIdAndName" resultType="in.hocg.boot.mybatis.plus.extensions.config.entity.ConfigValue">
    SELECT bcv.*
    FROM boot_config_value bcv
           LEFT JOIN boot_config_item bci on bcv.item_id = bci.id
           LEFT JOIN boot_config_scope bcs on bcs.id = bci.scope_id
    <where>
      <if test="scope != null">
        AND bcs.scope = #{scope}
      </if>
      <if test="refId != null">
        AND bcv.ref_id = #{refId}
      </if>
      <if test="name != null">
        AND bci.name = #{name}
      </if>
    </where>
    LIMIT 1
  </select>
</mapper>
